name: pytest

on: [push, pull_request]

jobs:
  tests:
    name: Python 3.11

    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r test-requirements.txt
          pip install -r requirements.txt

      - name: pytest
        env:
          TWITTER_TEST_API_KEY: ${{ secrets.TWITTER_TEST_API_KEY }}
          TWITTER_TEST_API_KEY_SECRET: ${{ secrets.TWITTER_TEST_API_KEY_SECRET }}
          TWITTER_TEST_ACCESS_TOKEN: ${{ secrets.TWITTER_TEST_ACCESS_TOKEN }}
          TWITTER_TEST_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_TEST_ACCESS_TOKEN_SECRET }}

          MASTODON_TEST_ACCESS_TOKEN: ${{ secrets.MASTODON_TEST_ACCESS_TOKEN }}
        run: python -m pytest -vv
